body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    color: orange;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: violet;
}
.flexible-container{
    display: flex;
    margin-bottom: 110px;
}
.half-width{
    width: 50%;
    padding-left: 6%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 15px;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.space{
    padding-right: 120px;
    text-align: justify;
}
.chobi{
    padding-left: 80px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 50px 10px gray;
}
#expir{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#fullxp{
    border-left: 7px solid;
    border-image: linear-gradient(cyan, yellow);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}